linkedgeodata-usertags/src/main/resources/osmUserDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">

	<xs:element name="user">
		<xs:complexType>
			<xs:attribute name="id" type="xs:long" />
			<xs:attribute name="display_name" type="xs:string" />
			<xs:attribute name="account_created" type="xs:dateTime" />
		</xs:complexType>
	</xs:element>

	<xs:element name="osm">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="user" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
